# Data Science Tools and Ecosystem

## Author
Shreya Rajesh

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages used by Data Scientists
- Commonly used libraries by Data Scientists
- Data Science tools
- A few examples of arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335